<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/index.css">
  <title>Weather Application</title>
</head>

<body>
  <video autoplay muted loop>
    <source src="/pexels_videos_4002 (2160p).mp4" type="video/mp4"> 
  </video>
  
  <div class="main">
    <div class="welcome-message">
    <p>Welcome to the Weather Application developed by <a href="https://www.linkedin.com/in/abhinav-raj-srivastava-599aaa1b2/">Abhinav Raj Srivastava</a><br /> | ZeoTap Internship Assessment 2</p>
  </div>

  <div class="button-container">
    <a href="wheteherApp" class="impressive-button">Click Here</a>
  </div>
  </div>
</body>

</html>
